<!DOCTYPE html>
<html>
    
    <head>
        <!--for search box -->
        <style>

#search-box {
position: relative;
width: 100%;
margin: 0;
}

#search-form
{
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}
#search-text
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 42px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color: #DA3D3D;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}
</style>
        

      
        <!--아래 style dropdown 용도-->
        <style>>
        /* Dropdown Button */
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        
        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: none;
            color: red;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #F5F8FC;
            min-width: 170px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd}
        
        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}
        </style>
        <!--아래 sign-btn-->
        <style>
        .sign-btn {
          display: inline-block;
          background: transparent;
          padding: 2px 2px;
          margin: 3px;
          border: 2px solid transparent;
          border-radius: 3px;
          border-color: white;
          -webkit-transition: 0.2s opacity;
          transition: 0.2s opacity;
        }
        
        .sign-btn a:hover {
          background-color: gray;
          
        }
        </style>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    
    <body>
        
        <nav class="navbar fixed-top navbar-dark bg-dark" style="background-color: #A2f2Fd;">
          <!--<a class="navbar-brand"></a>-->
          <!--<img class="navbar-brand" src="/assets/logo_white.png" style="height: 5%; width: 5%; margin-left:30px">-->
          
          <!--카침반 로고-->
          
      <img src="/assets/logo_white.png" class="img-fluid" alt="Responsive image" style="height: 8%; width: 8%; margin-left:90px; display: block;">
          
          
          
          <!--검색창-->
      <div class="form-row align-items-center">
        <input name= 'search_place' id='search-text' class="form-control" type="text" placeholder="지역이나 카페를 검색해보세요" aria-label="Search" style="width: 700px; background-color: white;">
          <button type="submit" class="btn btn-primary ">검색</button>
            <!--<input name='authenticity_token' value='<%#= form_authenticity_token %>' type='hidden'>-->
            <!--<input id = "search_place" name='search_place' type = 'hidden' value= "" >-->
            <!--<input id = "real-keyword" name= 'real_keyword' type = 'hidden' value= "">-->
      </div> 
            
          
          
     
          
          <!--로그인 여부에 따라 [로그인] 혹은 User Dropdown-->
          <% if user_signed_in? %>  
            <div class="dropdown">
              <img src="/assets/user_real.png" onclick="myFunction()" class="dropbtn" style="margin-right:120px;" >
              
              <div id="myDropdown" class="dropdown-content">
                <p style="text-align: center;"><%= current_user.email %>님<br>환영합니다!</p>
                <p style="text-align: center;">내가 좋아한 카페</p>
                  
                  <% if current_user.l_posts.count > 0 %>
                    <% current_user.l_posts.each do |post| %>
                      <a href='/posts/<% post.id %>/info' style="text-align: center;"><%= post.title %></a>
                    <% end %>  
                  <% else %>
                    <p> 아직 좋아하는 카페가 없으신가요?
                    <br>좋아요를 눌러보세요! </p>
                  <% end %>
                <p style="text-align: center;">
                  <a class="dropdown" href="/users/sign_out" data-method="delete">
                    <button>로그아웃</button>
                  </a>
                </p>
              </div>
          <% else %>
            <div class="dropbtn">
              <label class="sign-btn" style="margin-right:50px;">
                <%#= link_to '로그인', new_user_session_path %>
              <a class="dropdown-item" href="/users/sign_in" style="color: white;">로그인</a>
              </label>
            </div>
          <% end %>
                
            </div>
    <!--    </div>-->
    <!--</div>-->
    <!--</div>-->
    
    </nav>
        <!--드롭 다운-->
        <script>
      /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }
  
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
  
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
    </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <!--지도 검색 관련-->
        <script>
$(function(){
	
	var mapContainer = document.getElementById('map'),// 지도를 표시할 div 
			mapOption = { 
	        center: new daum.maps.LatLng(37.593844, 127.052646), // 지도의 중심좌표
	        level: 5 // 지도의 확대 레벨
	 };
	 
	    
	// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
  var map = new daum.maps.Map(mapContainer, mapOption); 
	
	var control = new daum.maps.ZoomControl();
	map.addControl(control, daum.maps.ControlPosition.TOPRIGHT); 
           
	
	var MARKER_WIDTH = 44, // 기본, 클릭 마커의 너비
    MARKER_HEIGHT = 46, // 기본, 클릭 마커의 높이
    OFFSET_X = 23, // 기본, 클릭 마커의 기준 X좌표
    OFFSET_Y = MARKER_HEIGHT, // 기본, 클릭 마커의 기준 Y좌표
    OVER_MARKER_WIDTH = 43, // 오버 마커의 너비
    OVER_MARKER_HEIGHT = 52, // 오버 마커의 높이
    OVER_OFFSET_X = 23, // 오버 마커의 기준 X좌표
    OVER_OFFSET_Y = OVER_MARKER_HEIGHT, // 오버 마커의 기준 Y좌표
    SPRITE_MARKER_URL = 'http://t1.daumcdn.net/localimg/localimages/07/2012/img/marker_normal.png', // 스프라이트 마커 이미지 URL
    SPRITE_WIDTH = 644, // 스프라이트 이미지 너비
    SPRITE_HEIGHT = 946; // 스프라이트 이미지 높이
	
	
var markerSize = new daum.maps.Size(MARKER_WIDTH, MARKER_HEIGHT), // 기본, 클릭 마커의 크기
    markerOffset = new daum.maps.Point(OFFSET_X, OFFSET_Y), // 기본, 클릭 마커의 기준좌표
    overMarkerSize = new daum.maps.Size(OVER_MARKER_WIDTH, OVER_MARKER_HEIGHT), // 오버 마커의 크기
    overMarkerOffset = new daum.maps.Point(OVER_OFFSET_X, OVER_OFFSET_Y), // 오버 마커의 기준 좌표
    spriteImageSize = new daum.maps.Size(SPRITE_WIDTH, SPRITE_HEIGHT); // 스프라이트 이미지의 크기

            
	// 이런식으로 값을 가져와서 position에 써 줄 것이다.
	var title = document.getElementsByClassName('post_title');
	var x = document.getElementsByClassName('post_x');
	var y = document.getElementsByClassName('post_y');
	var info = document.getElementsByClassName('post_info');
	var tds = document.getElementsByClassName('cafe_td');
	alert(info.length)
	
	var normalImages = [];
	var overlays = [];
	var positions = [];
	var markers = [];
	
	for(var j = 0 ; j < title.length ; j++){
		    var overlay = new daum.maps.CustomOverlay({
		    content: 	  '<div class = "wrap" >' +
										'    <div class="info">' + 
				            '        <div class="title">' + 
																title[j].value 	+
				            '           <div class="close" onclick="closeOverlay('+j+')" title="닫기"></div>' + 
				            '        </div>' + 
				            '        <div class="body">' + 
				            '            <div class="desc">' + 
				            '                <div class="ellipsis">'+ info[j].value +'</div>' + 
				            '                <div><a href="#"></div>' + 
				            '            </div>' + 
				            '        </div>' + 
				            '    </div>' +    
				            '</div>',
		    map: map,
		    position: new daum.maps.LatLng(parseFloat(y[j].value), parseFloat(x[j].value))
		});
		
		overlays.push(overlay);
		overlay.setMap(null);

	positions.push(new daum.maps.LatLng(parseFloat(y[j].value), parseFloat(x[j].value)));

}

	var selectedMarker = null; //클릭한 마커를 담을 변수
// 지도 위에 마커를 표시합니다
for (var i = 0, len = positions.length; i < len; i++) {
    var gapX = MARKER_WIDTH, // 스프라이트 이미지에서 마커로 사용할 이미지 X좌표 간격 값
        originY = MARKER_HEIGHT * i, // 스프라이트 이미지에서 기본, 클릭 마커로 사용할 Y좌표 값
        overOriginY = OVER_MARKER_HEIGHT * i, // 스프라이트 이미지에서 오버 마커로 사용할 Y좌표 값
        normalOrigin = new daum.maps.Point(0, originY), // 스프라이트 이미지에서 기본 마커로 사용할 영역의 좌상단 좌표
        clickOrigin = new daum.maps.Point(86, originY), // 스프라이트 이미지에서 마우스오버 마커로 사용할 영역의 좌상단 좌표
        overOrigin = new daum.maps.Point(259, overOriginY); // 스프라이트 이미지에서 클릭 마커로 사용할 영역의 좌상단 좌표
       
    
    // 마커를 생성하고 지도위에 표시합니다
    addMarker(positions[i], normalOrigin, overOrigin, clickOrigin, overlays[i], tds[i]);
}



// 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
function addMarker(position, normalOrigin, overOrigin, clickOrigin, overlay, tds) {

    // 기본 마커이미지, 오버 마커이미지, 클릭 마커이미지를 생성합니다
    		var normalImage = createMarkerImage(markerSize, markerOffset, normalOrigin);
				normalImages.push(normalImage);
    		var overImage = createMarkerImage(overMarkerSize, overMarkerOffset, overOrigin),
        clickImage = createMarkerImage(markerSize, markerOffset, clickOrigin);
    
    // 마커를 생성하고 이미지는 기본 마커 이미지를 사용합니다
    var marker = new daum.maps.Marker({
        map: map,
        position: position,
        image: normalImage
    });
    
    markers.push(marker);
    
    // 마커 객체에 마커아이디와 마커의 기본 이미지를 추가합니다
    marker.normalImage = normalImage;
		
    // 마커에 mouseover 이벤트를 등록합니다
    daum.maps.event.addListener(marker, 'mouseover', function() {

        // 클릭된 마커가 없고, mouseover된 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 오버 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(overImage);
        } 
    });
    
 		tds.addEventListener('mouseover', function () {
 			 if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(overImage);
 			 }
    });
    
    tds.addEventListener('mouseout', function(){
    	 if (!selectedMarker || selectedMarker !== marker) {
    			marker.setImage(normalImage);
					}
    });
    
    
    
    tds.addEventListener('click', function(){
    	
 if (!selectedMarker || selectedMarker !== marker) {    	 
    	 !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);
    	 
    	 marker.setImage(clickImage);
    	 overlay.setMap(map);
    	 	
    	 }
    for(var k = 0; k < overlays.length; k ++){
        	if(overlays[k] != overlay) {
        		overlays[k].setMap(null);
        	}
        }
      selectedMarker = marker;
    });
    
    
    // 마커에 mouseout 이벤트를 등록합니다
    daum.maps.event.addListener(marker, 'mouseout', function() {

        // 클릭된 마커가 없고, mouseout된 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 기본 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(normalImage);
        }
    });
    
    // tds.onmouseover =  function () {
    //           marker.setImage(overImage);
    // };

    // 마커에 click 이벤트를 등록합니다
    daum.maps.event.addListener(marker, 'click', function() {

        // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
        // 마커의 이미지를 클릭 이미지로 변경합니다
        if (!selectedMarker || selectedMarker !== marker) {

            // 클릭된 마커 객체가 null이 아니면
            // 클릭된 마커의 이미지를 기본 이미지로 변경하고
            !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);
						

            // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
            marker.setImage(clickImage);
            overlay.setMap(map);
        }
        
        for(var k = 0; k < overlays.length; k ++){
        	if(overlays[k] != overlay) {
        		overlays[k].setMap(null);
        	}
        }
        // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
        selectedMarker = marker;
    });
}

// MakrerImage 객체를 생성하여 반환하는 함수입니다
function createMarkerImage(markerSize, offset, spriteOrigin) {
    var markerImage = new daum.maps.MarkerImage(
        SPRITE_MARKER_URL, // 스프라이트 마커 이미지 URL
        markerSize, // 마커의 크기
        {
            offset: offset, // 마커 이미지에서의 기준 좌표
            spriteOrigin: spriteOrigin, // 스트라이프 이미지 중 사용할 영역의 좌상단 좌표
            spriteSize: spriteImageSize // 스프라이트 이미지의 크기
        }
    );
    
    return markerImage;
}          
            
function closeOverlay(j) {
  overlays[j].setMap(null);   
  markers[j].setImage(normalImages[j]);
  selectedMarker = null;
}
            
//장소 검색







	var ps = new daum.maps.services.Places(); 

	function searchmap(stitle)	{
		// 키워드로 장소를 검색합니다
		ps.keywordSearch(stitle, placesSearchCB);
		
		
			$.ajax({
				url: "https://dapi.kakao.com/v2/local/search/keyword.json",
				data: { query: stitle,
						page : 1,
						size : 10
				}, 
				beforeSend : function(request){								
					request.setRequestHeader("Authorization", "KakaoAK 64c634a894e225c6c4cb295a13eba793");
				},
				success : function(data){
					$("#addname").text(data.documents[0].address_name);
				}
			});
	}
	
	 
	function placesSearchCB (data, status, pagination) {
	    if (status === daum.maps.services.Status.OK) {
	        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
	        // LatLngBounds 객체에 좌표를 추가합니다
	        var bounds = new daum.maps.LatLngBounds();
	        bounds.extend(new daum.maps.LatLng(data[0].y, data[0].x));
	        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
	       //	coord =	new daum.maps.LatLng(data[0].y, data[0].x);
	        
	        
	        map.setBounds(bounds);
	        map.setLevel(5);
	    } 
	}

	
	$("#stitle").keyup(function(e){
		// e에 이벤트 정보가 담겨 있음
		/* alert(e.keyCode); */// 눌려진 키보드 고유의 아스키 값
		// 13은 엔터키
		if(e.keyCode == 13) {
			var search = $("#stitle").val();
			searchmap(search);
		}
	});
	
	
	
	$("#search-text").keyup(function(e){
			if(e.keyCode == 13) {
			var search = $("#search-text").val();
			searchmap(search);
		}
	});
	
		
	"use strict"

	///////////////////////////
	// Preloader
	$(window).on('load', function() {
		$("#preloader").delay(10).fadeOut();
	});


	///////////////////////////
	// Smooth scroll
	$("#nav .main-nav a[href^='#']").on('click', function(e) {
		e.preventDefault();
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 600);
	});

	$('#back-to-top').on('click', function(){
		$('body,html').animate({
			scrollTop: 0
		}, 600);
	});

	///////////////////////////
	// Btn nav collapse
	$('#nav .nav-collapse').on('click', function() {
		$('#nav').toggleClass('open');
	});

	///////////////////////////
	// Mobile dropdown
	$('.has-dropdown a').on('click', function() {
		$(this).parent().toggleClass('open-drop');
	});

	///////////////////////////
	// On Scroll
	$(window).on('scroll', function() {
		var wScroll = $(this).scrollTop();

		// Fixed nav
		wScroll > 1 ? $('#nav').addClass('fixed-nav') : $('#nav').removeClass('fixed-nav');

		// Back To Top Appear
		wScroll > 700 ? $('#back-to-top').fadeIn() : $('#back-to-top').fadeOut();
	});

	///////////////////////////
	// magnificPopup
	$('.work').magnificPopup({
		delegate: '.lightbox',
		type: 'image'
	});

	///////////////////////////
	// Owl Carousel
	$('#about-slider').owlCarousel({
		items:1,
		loop:true,
		margin:15,
		nav: true,
		navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		dots : true,
		autoplay : true,
		animateOut: 'fadeOut'
	});

	$('#testimonial-slider').owlCarousel({
		loop:true,
		margin:15,
		dots : true,
		nav: false,
		autoplay : true,
		responsive:{
			0: {
				items:1
			},
			992:{
				items:2
			}
		}
	});


	




})(jQuery);


		
</script>
    </body>
</html>